# xspace-api base URL (no trailing slash) — optional app-launch analytics when a license key exists in local store.
# Optional: if unset, the app uses http://localhost:4000. Set this for staging/production APIs.
XSPACE_API_URL=https://dev-x-space-backend.dhql6p.easypanel.host/
